@media  screen and (min-width: 700px) and (max-width: 992px) {
    main {
        background-image: linear-gradient(to bottom, var(--cor1) 45%, var(--cor2));
    }

    section#login {
        width: 80vw;
        display: flex;
    }

    div#foto {
        height: 100%;
        width: 25vw;
    }

}


@media screen and (min-width: 992px) {
    main {
        background-image: linear-gradient(to bottom, var(--cor1) 45%, var(--cor2));
    }

    section#login {
        width: 900px;
    }
    
    div#foto {
        float: right;
        height: 100%;
        width: 50%;
    }

}